<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/design1.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div class="header">
  <h1>Xingyang Zhou</h1>
  <i class="fas fa-door-open"> Welcome to my courtyard!</i>
</div>

<div class="topnav">
  <a href="/blog">Blog</a>
  <a href="/cv">Resume</a>
  <a href="/archives">Archive</a>
  <a href="/" style="float:right">Home</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <button href="https://github.com/Wingzxy"><i class="fab fa-github" > Wingzxy</i></button>
      <i class="fab fa-linkedin" href="https://www.linkedin.com/in/xingyang-zhou-744a3915b/"> Xngyang Zhou</i>
    </div>
  </div>
</div>

<div class="footer">
  <i class="far fa-copyright"> Copyright 2020</i>
  <i class="far fa-user-circle"> Xingyang Zhou</i>
</div>

</body>
